* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.html {
  font-size: 62.5%; }

header {
  background-color: #162916;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px; }
  header h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5px;
    background-color: rgba(47, 79, 79, 0.404);
    border: inset;
    animation-name: tituloprincipal;
    animation-duration: 5s;
    animation-delay: 2s;
    position: relative;
    animation-iteration-count: infinite; }

@keyframes tituloprincipal {
  0% {
    background-color: rgba(47, 79, 79, 0.404); }
  50% {
    background-color: #2a772a; }
  100% {
    background-color: black; } }
  header nav {
    display: flex;
    justify-content: space-between; }
    header nav ul {
      display: flex;
      margin: 20px;
      list-style: none;
      font-size: .9rem;
      text-transform: uppercase; }
    header nav a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5rem 1.0rem; }
    header nav a:hover {
      background-color: black;
      transition: 0.4s;
      padding: 8px 12px;
      border-radius: 5px;
      border-bottom: double;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px; }

main {
  margin: auto;
  background-color: black;
  height: 50%;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 500px 250px;
  grid-area: "section aside" "div div div";
  justify-content: space-between; }
  main .main__presentacion__div section {
    display: flex;
    justify-content: space-between; }
    main .main__presentacion__div section img {
      margin-top: 40px;
      margin-left: 10px;
      width: 560px;
      height: 360px; }
    main .main__presentacion__div section p {
      margin-top: 40px;
      margin-right: 10px;
      width: 400px;
      height: 400px;
      color: white;
      font-size: .8rem;
      font-family: Georgia, 'Times New Roman', Times, serif; }
  main aside {
    width: 97%;
    background-color: #424141;
    height: 660px;
    margin-left: 10px;
    margin-top: 20px; }
    main aside .aside__h3__parrafo {
      height: 400px;
      width: 320px;
      font-size: 15px;
      overflow: scroll;
      margin: auto; }
    main aside iframe {
      width: 325px;
      height: 250px; }
  main .fondo__imagenes {
    background-color: #04130e; }
    main .fondo__imagenes .main__imagenes__link {
      margin-top: 30px;
      width: 180px;
      height: 180px;
      padding: 20px;
      margin-left: 10px;
      border-style: hidden;
      border-color: #69be62;
      border: 3px;
      border-radius: 30%; }
    main .fondo__imagenes .main__imagenes__link:hover {
      transform: scale(1.8);
      transition: 1s; }

article {
  background-color: #020202;
  height: 100%;
  display: flex;
  justify-content: center; }
  article section {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 5px solid white;
    box-shadow: 16px 14px 20px #0000008c;
    background: linear-gradient(120deg, #222222, #676866, #c5ccc7, #1e8115, #06580d, #0c271f, #69be62, #23471a, #352b20);
    background-size: 300%;
    width: calc(50% + 16px);
    height: calc(100% + 16px);
    animation: gradiente 15s ease infinite; }

@keyframes gradiente {
  0% {
    background-position: 0% 200%; }
  50% {
    background-position: 200% 0%; }
  100% {
    background-position: 0% 330%; } }
    article section video {
      height: 500px;
      width: 500px;
      display: flex; }
    article section p {
      height: 300px;
      width: 300px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 15px;
      margin-top: 100px;
      margin-right: 5px; }

footer {
  width: 100%;
  height: 450px;
  align-items: center;
  background-color: #181716; }
  footer h3 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 10px; }
  footer .contenedor__iconos {
    width: 80%;
    height: 30%;
    margin: auto;
    background-color: #6b5339;
    display: flex;
    justify-content: center; }
    footer .contenedor__iconos .social__bar {
      position: relative;
      width: 80px;
      height: 80px;
      margin: 20px;
      border-radius: 50%;
      transition: all .8s;
      display: flex;
      cursor: pointer; }
    footer .contenedor__iconos .social__bar:hover {
      background-color: #e60073;
      box-shadow: 0 0 20px #e60073; }
    footer .contenedor__iconos .social__bar:hover:nth-child(2) {
      background-color: #270992;
      box-shadow: 0 0 20px #270992; }
    footer .contenedor__iconos .social__bar:hover:nth-child(3) {
      background-color: #06a729;
      box-shadow: 0 0 20px #06a729; }
    footer .contenedor__iconos .social__bar:hover:nth-child(4) {
      background-color: #df0f0f;
      box-shadow: 0 0 20px #df0f0f; }
    footer .contenedor__iconos .social__bar:hover:nth-child(5) {
      background-color: #2378bd;
      box-shadow: 0 0 20px #2378bd; }
    footer .contenedor__iconos i {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.7rem; }
  footer .listas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px; }
    footer .listas li:hover {
      color: white;
      transition: .8s;
      cursor: pointer; }
  footer p {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 17px; }

@media screen and (max-width: 768px) {
  header {
    display: block;
    justify-content: center; }
  header nav ul {
    margin: auto;
    font-size: .7rem; }
  main {
    display: block; }
  main .main__presentacion__div section p {
    margin-top: 40px;
    margin-left: 5px;
    font-size: .6rem; }
  aside {
    display: block; }
  .container__aside {
    width: 400px;
    height: 600px;
    display: block;
    justify-content: center;
    align-items: center; }
  main aside iframe {
    width: 360px; }
  main aside {
    margin-top: 20px; }
  main aside .aside__h3__parrafo {
    height: 400px;
    font-size: 15px; }
  main .fondo__imagenes {
    display: grid;
    grid-template-columns: 1fr, 1fr; }
  main .fondo__imagenes .main__imagenes__link {
    margin: auto;
    width: 250px;
    height: 250px; }
  article {
    height: 100%;
    display: block; }
  article section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center; }
  article section video {
    height: 500px;
    width: 500px; }
  article section p {
    height: 300px;
    width: 300px;
    font-size: 15px; }
  footer {
    width: 100%;
    height: 350px;
    align-items: center; }
  footer .contenedor__iconos {
    width: 100%; }
  footer .listas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px; }
  footer p {
    display: flex;
    justify-content: center;
    margin-top: 20px; } }
