* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.html {
  font-size: 62.5%; }

header {
  background-color: #162916;
  height: 15%;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px; }
  header img:hover {
    transform: scale(1.1);
    transition: .4s;
    cursor: pointer; }
  header h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5px;
    background-color: rgba(47, 79, 79, 0.404);
    border: inset;
    animation-name: tituloprincipal;
    animation-duration: 5s;
    animation-delay: 2s;
    position: relative;
    animation-iteration-count: infinite; }

@keyframes tituloprincipal {
  0% {
    background-color: rgba(47, 79, 79, 0.404); }
  50% {
    background-color: #2a772a; }
  100% {
    background-color: black; } }
  header nav {
    display: flex;
    justify-content: space-between; }
    header nav ul {
      display: flex;
      margin: 20px;
      list-style: none;
      font-size: .9rem;
      text-transform: uppercase; }
    header nav a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5rem 1.0rem; }
    header nav a:hover {
      background-color: black;
      transition: 0.4s;
      padding: 8px 12px;
      border-radius: 5px;
      border-bottom: double;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px; }

main {
  margin: auto;
  background-color: black;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 500px 250px;
  grid-area: "section aside"
 "div div div";
  justify-content: space-between; }
  main h2 {
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.2rem;
    font-style: oblique;
    margin-top: 15px; }
  main .main__presentacion__div section {
    display: flex;
    justify-content: space-between; }
    main .main__presentacion__div section img {
      margin-top: 40px;
      margin-left: 10px;
      width: 580px;
      height: 360px; }
    main .main__presentacion__div section .parrafos {
      display: block;
      margin-top: 50px; }
      main .main__presentacion__div section .parrafos p {
        width: 400px;
        height: 130px;
        color: white;
        font-size: 1.4rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
        align-items: center; }
  main aside {
    width: 97%;
    background-color: #424141;
    height: 660px;
    margin-left: 10px;
    margin-top: 20px; }
    main aside .aside__h3__parrafo {
      height: 400px;
      width: 320px;
      text-align: center;
      font-size: 16px;
      overflow: scroll;
      margin: auto; }
    main aside iframe {
      width: 100%;
      height: 250px; }
  main .fondo__imagenes {
    background-color: #04130e; }
    main .fondo__imagenes .main__imagenes {
      display: flex;
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-items: center;
      margin: 45px; }
      main .fondo__imagenes .main__imagenes .main__imagenes__link {
        width: 150px;
        height: 150px;
        padding: 5px;
        border-style: groove;
        border-radius: 30%; }
      main .fondo__imagenes .main__imagenes .main__imagenes__link:hover {
        transform: scale(1.8);
        transition: 1s; }

article {
  background-color: #020202;
  height: 100%;
  display: flex;
  justify-content: center; }
  article section {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 5px solid white;
    box-shadow: 16px 14px 20px #0000008c;
    background: linear-gradient(120deg, #222222, #676866, #c5ccc7, #1e8115, #06580d, #0c271f, #69be62, #23471a, #352b20);
    background-size: 300%;
    width: calc(50% + 16px);
    height: calc(100% + 16px);
    animation: gradiente 15s ease infinite; }

@keyframes gradiente {
  0% {
    background-position: 0% 200%; }
  50% {
    background-position: 200% 0%; }
  100% {
    background-position: 0% 330%; } }
    article section video {
      height: 500px;
      width: 500px;
      display: flex; }
    article section p {
      height: 300px;
      width: 300px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 15px;
      margin-top: 100px;
      margin-right: 5px; }

.main__galeria {
  background-image: url(../assets/imagenes/14-140131_camouflage-wallpaper-hd.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap; }
  .main__galeria .titulo__galeria {
    width: 50%;
    height: 60px;
    border-style: ridge;
    display: flex;
    color: #fcfdfd;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(29, 53, 29, 0.527);
    border-radius: 15px;
    margin: auto;
    justify-content: center; }
  .main__galeria #imagenes__galeria {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    justify-content: center; }
    .main__galeria #imagenes__galeria a img {
      width: 200px;
      height: 200px;
      border-radius: 20%;
      margin: 8px; }
    .main__galeria #imagenes__galeria a:hover img {
      transform: scale(1.3);
      transition: 1s; }
  .main__galeria .light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: #00000080;
    transition: transform .8s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: scale(0); }
    .main__galeria .light-box img {
      width: 60vw;
      height: 40vw; }
    .main__galeria .light-box:target {
      transform: scale(1); }
  .main__galeria .close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #130746;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    line-height: 40px;
    border-style: groove; }
  .main__galeria .next {
    display: block;
    background-color: #130746;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center; }

.main__novedades {
  background-image: url(../assets/imagenes/14-140131_camouflage-wallpaper-hd.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; }
  .main__novedades .novedades__elementos {
    background-color: #35443c98;
    flex-wrap: wrap;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px; }
    .main__novedades .novedades__elementos iframe {
      width: 100%;
      height: 400px; }
    .main__novedades .novedades__elementos .novedades__video {
      width: 100%;
      height: 450px; }
    .main__novedades .novedades__elementos .novedades__parrafo {
      width: 80%;
      margin: auto;
      font-size: 1.2rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: white; }

.main__contacto {
  background-image: url(../assets/imagenes/14-140131_camouflage-wallpaper-hd.jpg);
  height: 1600px;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center; }
  .main__contacto form {
    background-color: #0a270a96;
    height: 620px;
    width: 70%;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center; }
    .main__contacto form .titulo__contacto {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 50px;
      color: white; }
    .main__contacto form .nombre {
      width: 75%;
      margin-bottom: 5px;
      padding: 7px;
      font-size: 15px;
      border: none; }
    .main__contacto form .correo {
      width: 75%;
      margin-bottom: 5px;
      padding: 7px;
      font-size: 15px;
      border: none; }
    .main__contacto form .telefono {
      width: 75%;
      margin-bottom: 5px;
      padding: 7px;
      font-size: 15px;
      border: none; }
    .main__contacto form .mensaje {
      width: 75%;
      margin-bottom: 5px;
      padding: 7px;
      font-size: 15px;
      border: none; }
    .main__contacto form .botones {
      height: 100px;
      width: 20%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .main__contacto form .botones .boton1, .main__contacto form .botones .boton2 {
        font-size: 12px;
        color: white;
        background-color: black;
        height: 30px;
        width: 300px;
        cursor: pointer; }
  .main__contacto .terminos {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgrey; }
  .main__contacto .terminos__parrafo {
    margin-top: 50px;
    font-size: 1.1rem;
    color: white;
    background-color: #2222229c;
    padding: 12px;
    border-style: double; }

.main__nosotros {
  background-image: url(../assets/imagenes/60638-soldados.jpg);
  width: 100%;
  height: 1400px;
  background-attachment: fixed;
  background-size: cover;
  display: block; }
  .main__nosotros .container__nosotros {
    width: 80%;
    margin-top: 30px;
    height: 950px;
    margin: auto; }
    .main__nosotros .container__nosotros h2 {
      background-color: rgba(56, 56, 80, 0.493);
      border-bottom: double;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      border: double;
      text-align: center;
      margin: auto;
      font-size: 2.3rem;
      color: white;
      width: 60%;
      font-family: Georgia, 'Times New Roman', Times, serif; }
    .main__nosotros .container__nosotros p {
      border-radius: 15px;
      background-color: rgba(56, 56, 80, 0.493);
      height: 60%;
      width: 60%;
      border: double;
      font-size: 1.8rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: white;
      text-align: center;
      margin: auto; }
  .main__nosotros img {
    border-style: groove;
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    height: 600px; }

footer {
  width: 100%;
  height: auto;
  align-items: center;
  background-color: #181716; }
  footer h3 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 10px; }
  footer .contenedor__iconos {
    width: 80%;
    height: 25%;
    margin: auto;
    background-color: #6b5339;
    display: flex;
    justify-content: center;
    border-radius: 30px; }
    footer .contenedor__iconos .social__bar {
      position: relative;
      width: 80px;
      height: 80px;
      margin: 20px;
      border-radius: 50%;
      transition: all .6s;
      display: flex;
      cursor: pointer; }
    footer .contenedor__iconos .social__bar:hover {
      background-color: #e60073;
      box-shadow: 0 0 20px #e60073; }
    footer .contenedor__iconos .social__bar:hover:nth-child(2) {
      background-color: blue;
      box-shadow: 0 0 20px blue; }
    footer .contenedor__iconos .social__bar:hover:nth-child(3) {
      background-color: #15ca15;
      box-shadow: 0 0 20px #15ca15; }
    footer .contenedor__iconos .social__bar:hover:nth-child(4) {
      background-color: #df0f0f;
      box-shadow: 0 0 20px #df0f0f; }
    footer .contenedor__iconos .social__bar:hover:nth-child(5) {
      background-color: #2378bd;
      box-shadow: 0 0 20px #2378bd; }
    footer .contenedor__iconos i {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.7rem; }
  footer .listas {
    display: flex;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px; }
    footer .listas li:hover {
      color: white;
      transition: .8s;
      cursor: pointer; }
  footer p {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 17px; }

@media screen and (max-width: 768px) {
  header {
    display: block;
    justify-content: center; }
  header h1 {
    font-size: 40px;
    margin: auto; }
  header nav ul {
    margin: auto;
    font-size: .9rem; }
  main {
    width: 100%;
    margin: auto;
    padding-top: 20px;
    display: block;
    height: 2100px; }
  main .main__presentacion__div section img {
    margin-top: 40px;
    width: 96%;
    height: 420px; }
  main .main__presentacion__div section {
    display: block;
    width: 90%;
    margin: auto; }
  main .main__presentacion__div section .parrafos p {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    padding: 5px;
    font-size: 1.7rem; }
  .aside {
    display: block;
    justify-content: center;
    border-style: groove;
    width: 600px;
    margin: auto; }
  .aside .container__aside {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .main aside iframe {
    padding: 10px;
    width: 80%; }
  main aside .aside__h3__parrafo {
    width: auto;
    height: 400px;
    font-size: 20px;
    padding: 10px; }
  main .fondo__imagenes {
    display: grid;
    grid-template-columns: auto ,auto;
    grid-template-rows: auto;
    width: 85%;
    margin: auto; }
  main .fondo__imagenes .main__imagenes {
    margin: auto; }
  main .fondo__imagenes .main__imagenes .main__imagenes__link {
    width: 180px;
    height: 180px;
    margin: auto; }
  .main__imagenes__link {
    padding: 5px;
    margin-top: 10px; }
  main .fondo__imagenes {
    background-color: #04130e;
    display: block;
    height: auto; }
  main .fondo__imagenes .main__imagenes {
    display: block;
    align-items: center;
    justify-items: center;
    margin: 45px; }
  article {
    display: block; }
  article section {
    width: 90%;
    margin: auto; }
  article section video {
    height: 500px;
    width: 500px; }
  article section p {
    height: 300px;
    width: 90%;
    font-size: 22px;
    padding: 10px;
    margin-top: 5px; }
  footer {
    width: 100%;
    height: auto;
    align-items: center; }
  footer .contenedor__iconos {
    width: 100%; }
  footer .contenedor__iconos .social__bar {
    margin: 10px; }
  footer .listas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    font-size: 1.4rem; }
  footer p {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.5rem; }
  .main__galeria {
    width: 100%;
    height: auto; }
  .main__galeria .titulo__galeria {
    width: 90%;
    height: 80px;
    font-size: 2.2rem;
    border-radius: 15px;
    align-items: center; }
  .main__galeria #imagenes__galeria {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center; }
  .main__galeria #imagenes__galeria a img {
    width: 200px;
    height: 200px;
    border-radius: 15%;
    margin: 10px; }
  .main__novedades {
    width: 100%;
    height: auto; }
  .main__novedades .novedades__elementos {
    width: 80%;
    height: 98%; }
  .main__novedades .novedades__elementos iframe {
    width: 100%;
    height: 320px; }
  .main__novedades .novedades__elementos .novedades__parrafo {
    font-size: 1.3rem;
    width: 90%; }
  .main__contacto {
    background-image: url(../assets/imagenes/14-140131_camouflage-wallpaper-hd.jpg);
    height: 2000px;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center; }
  .main__contacto .terminos__parrafo {
    margin-top: 20px;
    font-size: 1rem;
    width: 100%;
    height: auto; }
  .main__nosotros {
    width: 100%;
    height: 920px; }
  .main__nosotros .container__nosotros {
    width: 100%;
    height: 800px;
    margin: auto; }
  .main__nosotros .container__nosotros h2 {
    font-size: 2.3rem;
    width: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif; }
  .main__nosotros .container__nosotros p {
    height: 60%;
    width: 90%;
    font-size: 1.7rem; }
  .main__nosotros img {
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    width: 95%;
    height: 350px; } }

@media screen and (max-width: 579px) {
  header {
    height: 15%;
    display: flex;
    flex-direction: column; }
  header h1 {
    font-size: 40px;
    margin: auto; }
  header .header__nav .header__menu {
    width: 100%; }
  .header nav ul {
    margin: auto;
    font-size: .65rem; }
  .main {
    height: auto;
    display: block;
    width: 100%; }
  main .main__presentacion__div section img {
    margin-top: 40px;
    width: 95%;
    height: 360px; }
  main .main__presentacion__div section {
    display: block;
    width: 95%;
    margin: auto; }
  main .main__presentacion__div section .parrafos p {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    padding: 5px;
    font-size: 1.3rem; }
  .aside {
    width: 95%;
    display: block;
    justify-content: center;
    border-style: groove;
    margin: auto; }
  main {
    margin: auto;
    height: 50%;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 500px 150px;
    grid-area: "section aside"
 "div div div";
    justify-content: space-between; }
  main aside iframe {
    padding: 20px;
    width: 100%; }
  main aside .aside__h3__parrafo {
    width: auto;
    height: 400px;
    font-size: 20px;
    padding: 10px; }
  main .fondo__imagenes {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 85%;
    margin: auto;
    height: 550px;
    margin-top: 10px; }
  main .fondo__imagenes .main__imagenes {
    margin: 15px; }
  main .fondo__imagenes .main__imagenes .main__imagenes__link {
    width: 170px;
    height: 170px;
    margin: auto; }
  .main__imagenes__link {
    padding: 5px;
    margin-top: 5px; }
  .main .fondo__imagenes {
    display: block;
    width: 95%; }
  .main .fondo__imagenes .main__imagenes {
    display: block;
    align-items: center;
    justify-items: center;
    margin: auto;
    margin-left: 25px;
    height: 100%; }
  .article {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%; }
  .article section {
    width: 95%;
    height: 550px; }
  .article section video {
    height: 400px;
    width: 200px; }
  .article section p {
    height: 250px;
    width: 90%;
    font-size: 15px;
    margin-top: 0px; }
  .footer {
    height: 100%;
    align-items: center; }
  h3 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 10px; }
  .footer .contenedor__iconos {
    width: 100%;
    height: 140px; }
  .footer .contenedor__iconos .social__bar {
    margin: 0px;
    margin-top: 25px; }
  .footer .listas {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 65px;
    font-size: 1.2rem; }
  footer p {
    display: flex;
    justify-content: center;
    font-size: 1.3rem; }
  .main__galeria {
    width: auto;
    height: 1850px; }
  .titulo__galeria {
    width: 90%;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 15px;
    align-items: center;
    text-align: center; }
  .main__galeria #imagenes__galeria {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: start; }
  .main__galeria #imagenes__galeria a {
    width: 200px;
    height: 200px; }
  main .main__novedades {
    width: 100%;
    height: auto; }
  main .main__novedades .div {
    width: 100%;
    height: 98%; }
  .main__novedades .novedades__elementos iframe {
    width: 100%;
    height: 300px; }
  .main__novedades .novedades__elementos .novedades__parrafo {
    font-size: .95rem; }
  .main__contacto form {
    width: 95%;
    margin-top: 10px; }
  .main__contacto {
    background-image: url(../assets/imagenes/14-140131_camouflage-wallpaper-hd.jpg);
    height: 2000px;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center; }
  .main__contacto .terminos__parrafo {
    margin-top: 20px;
    font-size: .85rem;
    width: 100%; }
  .main__nosotros {
    width: 100%;
    height: 900px; }
  .main__nosotros .container__nosotros {
    width: 100%;
    height: 800px;
    margin: auto; }
  .main__nosotros .container__nosotros h2 {
    font-size: 2rem;
    width: 95%;
    font-family: Georgia, 'Times New Roman', Times, serif; }
  .main__nosotros .container__nosotros p {
    height: 60%;
    width: 95%;
    font-size: 1.25rem; }
  .main__nosotros img {
    margin-left: 10px;
    margin-top: 25px;
    padding: 5px;
    width: 95%;
    height: 300px; } }
