footer{
    width: $ancho_100;
    height: auto;
    align-items: center;
    background-color: map-get($mapa_colores, gris_oscuro);
    
    h3{
        color: white;
        display: flex;
        justify-content: center;
        font-size: 25px;
        padding: 10px;
    }

    .contenedor__iconos{
        width: 80%;
        height: 25%;
        margin: $margin_auto;
        background-color: map-get($mapa_colores, marron);
        display: flex;
        justify-content: center;
        border-radius: 30px;
  
            .social__bar{
                position: relative;
                width: 80px;
                height: 80px;
                margin: 20px;
                border-radius: 50%;
                transition: all .6s;
                display: flex;
                cursor: pointer;
            }

            .social__bar:hover {
                background-color: map-get($mapa_colores , instagram);
                box-shadow: 0 0 20px map-get($mapa_colores , instagram);
            } 
            .social__bar:hover:nth-child(2) {
                background-color: map-get($mapa_colores , facebook);
                box-shadow: 0 0 20px map-get($mapa_colores , facebook);
            } 
            .social__bar:hover:nth-child(3) {
                background-color: map-get($mapa_colores , whatsapp);
                box-shadow: 0 0 20px map-get($mapa_colores , whatsapp);
            }  
            .social__bar:hover:nth-child(4) {
                background-color: map-get($mapa_colores , youtube);
                box-shadow: 0 0 20px map-get($mapa_colores , youtube);
            }
            .social__bar:hover:nth-child(5) {
                background-color: map-get($mapa_colores , telegram);
                box-shadow: 0 0 20px map-get($mapa_colores , telegram);
            }
            i{
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.7rem;
            }           
       }
       .listas{
           display: flex;
           @include flexbox (space-evenly,center);
           margin-top: 10px;
           li:hover{
               color: white;
               transition: .8s;
               cursor: pointer;
           }
       }
       p{
           color: white;
           display: flex;
           justify-content: center;
           margin-top: 20px;
           font-size: 17px;          
       }       
}
