header{
    background-color: map-get($mapa_colores , verde_oscuro );
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h1{
        font-size: 40px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        text-align: center;
        text-transform: uppercase;
        margin-left: 5px;
        background-color: rgba(47, 79, 79, 0.404); 
        border: inset;
        animation-name: tituloprincipal;
        animation-duration: 5s;
        animation-delay: 2s; 
        position: relative;
        animation-iteration-count: infinite; 
    }
    @keyframes tituloprincipal{
        0% {background-color:rgba(47, 79, 79, 0.404) ; 
        }
        50% {background-color: rgb(42, 119, 42)
        }
        100% {background-color: black}
    }
    nav{
        display: flex;
        justify-content: space-between; 
    
    ul{
        display: flex;
        margin: 20px;
        list-style: none;
        font-size: .9rem;
        text-transform: uppercase;
    }
    a{
        color: map-get($mapa_colores , blanco);
        text-decoration: none;
        display: block;
        padding: 0.5rem 1.0rem;
    }
    a:hover{
        background-color: map-get($mapa_colores, negro);
        transition: 0.4s;
        padding: 8px 12px;
        border-radius: 5px;
        border-bottom: double;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;   
    }
    }
} 