@media  (min-width: 569px) and (max-width: 768px){
    header {
        display: block;
        justify-content: center;
    }   
    header nav ul {
        margin: auto;
        font-size: .7rem;
    }
    
    main {
      width: 100%;
      margin: auto;
      display: block;
      height: 2150px;
    }
    main .main__presentacion__div section img {
      margin-top: 40px;
      width: 95%;
      height: 360px; 
      }
    main .main__presentacion__div section {
      display: block;
      width: 90%;
      margin: auto;
    }
    main .main__presentacion__div section .parrafos p {
      width: 100%;
      text-align: center;
      margin-top: 5px; 
      padding: 5px;
    }
    
    aside {
        display: block;
        justify-content: center;
        border-style: groove;
    }
    
    main aside iframe {
        padding: 10px;
        width: 100%;
        margin: auto;
    }
    main aside .aside__h3__parrafo { 
        width: auto;
        height: 400px;
        font-size: 20px;
        padding: 10px;
    }
    main .fondo__imagenes {
        display: grid;
        grid-template-columns: auto ,auto;
        grid-template-rows: auto;
        width: 75%;
        margin: auto;
    
    
    }
    
    main .fondo__imagenes .main__imagenes{
        margin: auto;
    }
    
    .main__imagenes__link{
        padding: 5px;
        margin-top: 10px;
    }
    main .fondo__imagenes {
      background-color: #04130e;
      display: block;
      height: auto;
    
    }
    main .fondo__imagenes .main__imagenes {
      display: block;
      align-items: center;
      justify-items: center;
      margin: 45px; }
    
    article {
        display: block;
    
    }
    article section {
        width: 90%;
        margin: auto;
    }
    article section video {
            height: 500px;
            width: 500px;
    }
    article section p {
        height: 300px;
        width: 90%;
        font-size: 15px;
        padding: 10px;
    }
    footer {
        width: 100%;
        height: 350px;
        align-items: center;
    }
    
    footer .contenedor__iconos {
        width: 100%;
    }
    footer .contenedor__iconos .social__bar {
        margin: 10px;
     }
    
    footer .listas {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px; 
    }
    footer p {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
    .main__galeria {
        height: auto ;
    }
    
        .main__galeria .titulo__galeria {
          width: 90%;
          height: 60px;
          font-size: 2.2rem;
          border-radius: 15px;
          align-items: center;
    
        }
        .main__galeria #imagenes__galeria {
          display: grid;
          grid-template-columns: auto auto auto;
          grid-template-rows: auto;
         }
          .main__galeria #imagenes__galeria a img {
            width: 150px;
            height: 150px;
            border-radius: 15%;
            margin: 8px; }
    
    .main__novedades {
      width: 100%;
      height: 900px; 
    }
      .main__novedades .novedades__elementos {
        width: 80%;
        height: 98%; 
    }
        .main__novedades .novedades__elementos .novedades__video {
          width: 100%;
          height: 300px; }
        .main__novedades .novedades__elementos .novedades__parrafo {
          font-size: 1.1rem;
    }
    
    
    .main__contacto {
        background-image: url(../assets/imagenes/14-140131_camouflage-wallpaper-hd.jpg);
        height: 2000px;
        background-size: cover;
        width: 100%;
        display: flex;
        justify-content: center; }
    
        .main__contacto .terminos__parrafo {
          margin-top: 20px;
          font-size: .85rem;
          width: 100%;
        }
    
        .main__nosotros {
            width: 100%;
            height: 900px;
    }
            .main__nosotros .container__nosotros {
              width: 80%;
              height: 800px;
              margin: auto; }
              .main__nosotros .container__nosotros h2 {
                font-size: 2.3rem;
                width: 80%;
                font-family: Georgia, 'Times New Roman', Times, serif; }
              .main__nosotros .container__nosotros p {
                height: 60%;
                width: 80%;
                font-size: 1.2rem; }
            .main__nosotros img {
              margin-top: 10px;
              padding: 5px;
              width: 100%;
              height: 300px; 
            }
    
    }