$ancho_100: 100%;
$margin_auto: auto;
 
$mapa_colores:(
    negro: black,
    blanco: white,
    verde_oscuro: #162916,
    gris_oscuro:#181716,
    gris: #424141,
    marron: #6b5339,
    instagram:#e60073,
    facebook:blue,
    youtube:#df0f0f,
    telegram:#2378bd,
    whatsapp: rgb(21, 202, 21),
)


