.header {
  background-color: #162916;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

.header h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-left: 50px;
  background-color: rgba(47, 79, 79, 0.404);
  border: inset;
  -webkit-animation-name: tituloprincipal;
          animation-name: tituloprincipal;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  position: relative;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes tituloprincipal {
  0% {
    background-color: rgba(47, 79, 79, 0.404);
  }
  50% {
    background-color: #2a772a;
  }
  100% {
    background-color: black;
  }
}

@keyframes tituloprincipal {
  0% {
    background-color: rgba(47, 79, 79, 0.404);
  }
  50% {
    background-color: #2a772a;
  }
  100% {
    background-color: black;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px;
  list-style: none;
  font-size: 14px;
  text-transform: uppercase;
}

.ul li {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1.0rem;
}

.ulhover {
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 8px 12px;
  border-radius: 5px;
  border-bottom: double;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.main__nosotros {
  background-image: url(../assets/imagenes/60638-soldados.jpg);
  height: 1800px;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__nosotros h2 {
  background-color: rgba(56, 56, 80, 0.493);
  margin-top: 60px;
  margin-left: 100px;
  width: 800px;
  height: 60px;
  border-bottom: double;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border: double;
  padding-bottom: 20px;
  text-align: center;
  font-size: 50px;
  color: azure;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main__nosotros p {
  border-radius: 15px;
  background-color: rgba(56, 56, 80, 0.493);
  margin-left: 100px;
  width: 800px;
  height: 550px;
  border: double;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: azure;
  text-align: center;
}

.main__nosotros img {
  margin-top: 50px;
  border-style: groove;
  padding: 5px;
  width: 1000px;
  height: 600px;
}
/*# sourceMappingURL=estilos.css.map */